.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*$$$$$$$$$$$$$$$$ Login/Registration $$$$$$$$$$$$$$$$$$$$$$$*/

.loginfrm, .registerfrm {
  width: 20%;
  text-align: center;
  position: relative;
  left: 40%;
}

/*$$$$$$$$$$$$$$$$ Contact Us $$$$$$$$$$$$$$$$$$$$$$$*/
.form-group.contact {
  text-align: left;
  position: relative;
  padding-left: 10%;
}

.contactfrm {
  width: 20%;
}

.msg {
  width: 40%;
  height: 10%;
}
/*$$$$$$$$$$$$$$$$ Banner $$$$$$$$$$$$$$$$$$$$$$$*/
.carousel-caption{
    color: #9d9d9d;
    position: absolute;
    top: 13%;
    right: 49%;
}

.bannerImages{
    max-height: 500px;
    margin: auto;
}