.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*$$$$$$$$$$$$$$$$ Login/Registration $$$$$$$$$$$$$$$$$$$$$$$*/

.loginfrm {
  width: 60%;
  text-align: center;
  position: relative;
  left: 40%;

}

.registerfrm {
  width: 20%;
  text-align: center;
  position: relative;
  left: 40%;
}

.container {
  margin : -1.4em 0 0 0;
  width : 100%;
  min-height: 43.52em;
  background-repeat: no-repeat;
  background: rgb(185,210,224);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(185,210,224,1) 0%, rgba(187,214,228,1) 0%, rgba(186,211,225,1) 15%, rgba(186,211,225,1) 38%, rgba(169,199,215,1) 68%, rgba(169,199,215,1) 68%, rgba(169,199,215,1) 82%, rgba(158,191,208,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(185,210,224,1) 0%,rgba(187,214,228,1) 0%,rgba(186,211,225,1) 15%,rgba(186,211,225,1) 38%,rgba(169,199,215,1) 68%,rgba(169,199,215,1) 68%,rgba(169,199,215,1) 82%,rgba(158,191,208,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(185,210,224,1) 0%,rgba(187,214,228,1) 0%,rgba(186,211,225,1) 15%,rgba(186,211,225,1) 38%,rgba(169,199,215,1) 68%,rgba(169,199,215,1) 68%,rgba(169,199,215,1) 82%,rgba(158,191,208,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d2e0', endColorstr='#9ebfd0',GradientType=1 );

}

.cform {
  background-color: white;
  width: 40%;
  position: relative;
  left: 31%;
  padding: 5%;
  margin-top: 8%;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login {
  width: 100%;
}

/*$$$$$$$$$$$$$$$$ Contact Us $$$$$$$$$$$$$$$$$$$$$$$*/
.form-group.contact {
  text-align: left;
  position: relative;
  padding-left: 10%;
}

.contactfrm {
  width: 20%;
}

.msg {
  width: 40%;
  height: 10%;
}
/*$$$$$$$$$$$$$$$$ Banner $$$$$$$$$$$$$$$$$$$$$$$*/
.carousel-caption{
    color: #9d9d9d;
    position: absolute;
    top: 13%;
    right: 49%;
}

.bannerImages{
    max-height: 500px;
    margin: auto;
}