.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*$$$$$$$$$$$$$$$$ Login/Registration/Contact Us $$$$$$$$$$$$$$$$$$$$$$$*/

.loginfrm, .registerfrm, .contactfrm{
  width: 60%;
  text-align: center;
  position: relative;
  left: 20%;

}

.loginH1, .registerH1, .contactH1 {
  margin: 0;
  padding-bottom: 1em;
}

.clogin, .cregister, .ccontact {
  margin : -1.4em 0 0 0;
  width : 100%;
  min-height: 43.52em;
  background-repeat: no-repeat;
  background: linear-gradient(blue, cyan, white);

}

.cform, .rform, .contactForm {
  background-color: white;
  width: 40%;
  position: relative;
  left: 31%;
  padding: 2% 5% 2.5%;
  margin-top: 8%;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.msg {
  width: 90%;
  height: 10%;
}

@media only screen and (max-width: 700px){
  .container1 {
    position: relative;
    top: 16em;
  }

  .clogin, .cregister, .ccontact {
    min-height: 350px;
  }

  .cform, .rform, .contactForm {
    width: 90%;
    left: 5%;
  }

  .footer {
    top: 17em;
  }
}
/*$$$$$$$$$$$$$$$$ Banner $$$$$$$$$$$$$$$$$$$$$$$*/
.carousel-caption{
    color: #9d9d9d;
    position: absolute;
    top: 13%;
    right: 49%;
}
.bannerImages{
    max-height: 500px;
    margin: auto;
}

/*$$$$$$$$$$$$$$$$ Footer $$$$$$$$$$$$$$$$$$$$$$$*/
.footer {
  position: relative;
  text-align: center;
  width: 100%;
}

#map {
  height: 100%;
}

.storeLocator{
  float: left;
  height: 400px;
  width: 30%;
  margin-left: 5%
}
